/*  ESTILOS CSS */

.btnGreen {
    -fx-background-color: #3cbc53;
}

.background {
    -fx-background-color:  #1A232C;
}

.bodybg {
    -fx-background-image: url('/images/logo.jpeg');
    -fx-background-size: 100% 100%;
}

.ctrlpanelbg {
    -fx-background-image: url('/images/controlpanel.png');
    -fx-background-size: 100% 100%;
}

.txtfield {
    -fx-background-color: #1A3434;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-family: 'Avenir Book';
    -fx-font-weight: bold;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}


.botonMA {
    -fx-background-color: #3cbc53;
    -fx-color: yellow;
}

.botonMA:hover {
    -fx-background-color: #81c884;
    -fx-color: #81c884;
}


.botonCerrarSesion {
    -fx-background-color: darkred;
}

.botonCerrarSesion:hover {
    -fx-background-color: darkred;
    -fx-color: darkred;
}
